
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
 max-width: 800px;
  margin: auto;
}

.header {
  overflow: hidden;
  background-color: #fff;
  padding: 20px 10px;
  
}

.header img {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header img.logo {
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 275;
font-size: 40px;
line-height: 60px;
/* identical to box height */

text-align: center;

color: #000000;
}


.header-right {
float: right;
}

@media screen and (max-width: 500px) {
  .header img {
    float: right;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}


/* End of Header CSS */


.app {
  display: table;
    margin: 0 auto;
  padding: 30px;
}

.row {
    margin-bottom: 20px;
    display:flex; /* added */
    justify-content:center; /* added */
}

.tree ul {
    list-style-image: url('https://wittywit.com/anuvad/img/logo.svg');
}

ul {
    list-style-image: url('https://wittywit.com/anuvad/img/logo.svg');
}

.node {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 16px;
    padding-bottom: 72px;
    width: 130px;
    height: 40px;
    border: 2px solid rgba(0,0,0,.2);
    border-radius: 5px;
    color: rgba(0,0,0,.6);
}

.male {
    background: #a4ecff;
}

.female {
    background: #fdaed8;
  
}

.blank {
  background: #fff;
   border: none;
}

